h1{
    color:red;
    font: size 20px;
}
p{
    width:70%;
    /* border: 1px; solid black; */
}
header {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}
img {
    max-width: 100%;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    display: inline-flex;
}
ol {
    list-style-type: none;
    padding: 0;
}
p {
    line-height: 1.6;
    margin: 20px 0;
    text-align: center;
    color: #777;
}
html {
    scroll-behavior: smooth;
}